 @font-face {
  font-family: BebasNeueRegular;
  src: url('../fonts/BebasNeueRegular.otf');
}
@font-face {
 font-family: BebasNeueBold;
 src: url('../fonts/BebasNeueBold.otf');
}
@font-face {
 font-family: Bebas;
 src: url('../fonts/BEBAS___.ttf');
}

body {
  font-family: BebasNeue;
  width: 100%;
}

header {
  height: 500px;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.2);
  background-image: url('../media/New.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  display: none;
}

header h1 {
  display: block;
  margin: 0 0 20px;
  transform: rotate(-3deg) translateX(-350px);
  text-align: center;
  font-family: BebasNeueBold;
  font-size: 5.625rem;
  font-weight: 600;
}

header h2 {
  margin: 0 0;
  text-align: center;
  font-family: BebasNeueRegular;
  font-size: 6.25rem;
  font-weight: 400;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.35);
}

#skills h1 {
  padding-top: 40px;
  font-family: Bebas;
  font-size: 2.875rem;
  text-align: center;
}

#hamburger {
  background-image: url("../media/hamburger.png");
}

#skills {
  background-color: #dfdcda;
  height: 800px;
}

/* Menu */
.array {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border-radius: 50%;
    margin: 1.75em auto 0;
}

.array div {
  /* .array img { display: block; width: 100%; } */
      display: block;
      position: absolute;
      top: 50%; left: 50%;
      width: 109px; height: 109px;
      margin-left: -3.4em;
}

.array p {
  display: none;
}

.array img {
  cursor: pointer;
}

.javascript { transform: translate(14em); }
.redhat { transform: rotate(30deg) translate(14em) rotate(-30deg); }
.angular { transform: rotate(60deg) translate(14em) rotate(-60deg); }
.express { transform: rotate(90deg) translate(14em) rotate(-90deg); }
.nodejs { transform: rotate(120deg) translate(14em) rotate(-120deg); }
.python { transform: rotate(150deg) translate(14em) rotate(-150deg); }
.sass { transform: rotate(180deg) translate(14em) rotate(-180deg); }
.mongodb { transform: rotate(210deg) translate(14em) rotate(-210deg); }
.jquery { transform: rotate(240deg) translate(14em) rotate(-240deg); }
.html5 { transform: rotate(270deg) translate(14em) rotate(-270deg); }
.css3 { transform: rotate(300deg) translate(14em) rotate(-300deg); }
.photoshop { transform: rotate(330deg) translate(14em) rotate(-330deg); }

@keyframes hovered {
  0% { }
  10% {transform: translate(0em);}
  100% {transform: translate(0em) scale(2);}
}

.animated {
  animation: hovered 2s;
  animation-fill-mode: forwards;
}
